<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <a href="/users/new">Create new User</a>
    <br><br>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Last Name</td>
            <td>email</td>

        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit</a></td>
            <td>
                <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>


    </table>
</div>

</body>
</html>